.footer {
  &-wrap {
    padding: 7rem 0 4rem 0;
    @include flex-btw;
    @include max(767px) {
      gap: 2rem;
      flex-wrap: wrap;
    }
    &::before {
      content: "";
      top: -2rem;
      left: 6.6rem;
      z-index: -1;
      width: 100vw;
      height: calc(100% + 2rem);
      position: absolute;
      background: rgba(244, 242, 249, 1);
    }
  }
  &-list {
    @include flex-al;
    &:first-child {
      margin: 0 -1.5rem;
      @include max(455px) {
        margin: 0;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .footer-item {
        padding: 0 1.5rem;
        @include max(455px){
          padding: 0;
        }
      }
    }
    &:last-child {
      gap: 1rem;
    }
  }
  &-item {
    .line {
      width: 4rem;
      height: 0.1rem;
      display: block;
      background: $color-black;
    }
    a {
      gap: 0.5rem;
      @include flex;
      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
